<suite name="EntireSuite">
	<suite-files>
		<suite-file path="src/test/resources/testng/standard.xml" />
	</suite-files>
	<suite-files>
		<suite-file path="src/test/resources/testng/initiator.xml" />
	</suite-files>
	<suite-files>
		<suite-file path="src/test/resources/testng/target.xml" />
	</suite-files>
</suite>