<suite name="EntireSuite">
	<suite-files>
        <suite-file path="src/test/resources/testng/commons.xml" />
    </suite-files>
    <suite-files>
		<suite-file path="src/test/resources/testng/blackbox.xml" />
	</suite-files>
	<suite-files>
		<suite-file path="src/test/resources/testng/target.xml" />
	</suite-files>
</suite>